<mat-card *ngIf="articolo">
    <mat-card-content>
        {{articolo.title}}
    </mat-card-content>
    <mat-card-actions>
    <a mat-button [routerLink]="['/blog', articolo.id]">Vai al dettaglio</a>
    <a mat-button color="primary" [routerLink]="['/blog', 'modifica', articolo.id]">Modifica</a>
    <button mat-button color="primary" (click)="pubblica()" *ngIf="!articolo.published">Pubblica</button>
    <button mat-button color="warn" (click)="elimina()">Elimina</button>
    </mat-card-actions>
</mat-card>
